{% extends './buyer_base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

{% for message in messages %}
    <div class="bg-{{ message.tags }}-100 border-t border-b border-{{ message.tags }}-500 text-{{ message.tags }}-700 px-4 py-3 relative" role="alert">
        <button type="button" class="absolute top-0 right-0 px-4 py-3" onclick="this.parentElement.style.display='none';">×</button>
        <p class="font-bold">{{ message.tags|capfirst }}</p>
        <ul>
            <li>{{ message }}</li>
        </ul>
    </div>
{% endfor %}

<div class="container my-5 p-12">
  <h2 class="mb-4 font-bold text-center text-3xl">Your Cart</h2>

  {% for item in cart_items %}
    <div class="card mb-3" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4">
          {% if item.product.image %}
            <img src="{{ item.product.image.url }}" class="img-fluid rounded-start" alt="{{ item.product.name }}">
          {% else %}
            <img src="{% static 'default-product.png' %}" class="img-fluid rounded-start" alt="No image">
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ item.product.name }}</h5>
            <p class="card-text">{{ item.product.description|truncatewords:20 }}</p>
            <p class="card-text">
              <small class="text-muted">₹{{ item.product.base_price|sub:item.product.discount  }} × <span id="quantity-{{ item.id }}">{{ item.quantity }}</span> = ₹{{ item.total_price }}</small>
            </p>
                         <p class="card-text">Variants:</p>
            <ul>
                {% for attribute in item.variant.attributes.all %}
                    <li>{{ attribute }}</li>
                {% endfor %}
            </ul>
           

            <div class="d-flex align-items-center justify-content-between">
                <div class="btns">
                    <button type="button" class="btn btn-outline-secondary btn-sm me-2" onclick="decreaseQuantity('{{ item.id }}')">-</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="increaseQuantity('{{ item.id }}')">+</button>
                </div>
              <a href="{% url 'remove_cart_item' item.id %}" class="btn btn-outline-danger btn-sm">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No items in your cart.</p>
  {% endfor %}


  <h4 class="my-6">Total: ₹{{ total }}</h4>
  <a href="{% url 'place_order' %}" class="bg-[#079488] text-white px-4 py-2 rounded mt-4">Place Order</a>
</div>

<script>
  function decreaseQuantity(itemId) {
    const quantityElement = document.getElementById('quantity-' + itemId);
    let quantity = parseInt(quantityElement.textContent);
    if (quantity > 1) {
      quantity--;
      quantityElement.textContent = quantity;
      fetch('{% url "update-cart-item" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify({
          item_id: itemId,
          quantity: quantity,
        }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            console.error(data.error);
          } else {
            const totalElement = document.querySelector('.total');
            totalElement.textContent = `Total: ₹${data.total}`;
          }
        })
    }
  }

  function increaseQuantity(itemId) {
    const quantityElement = document.getElementById('quantity-' + itemId);
    let quantity = parseInt(quantityElement.textContent);
    quantity++;
    quantityElement.textContent = quantity;
    fetch('{% url "update-cart-item" %}', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}',
      },
      body: JSON.stringify({
        item_id: itemId,
        quantity: quantity,
      }),
    })
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          console.error(data.error);
        } else {
          const totalElement = document.querySelector('.total');
          totalElement.textContent = `Total: ₹${data.total}`;
        }
      })
  }
</script>

{% endblock %}
